/* charger le font family depuis google https://fonts.google.com/specimen/Be+Vietnam+Pro*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #FFFFFF;
  --foreground: #121826;
  --secondary-background: #E5E7EB;
  --secondary-foreground: #6C727F;
  --tertiary-background: #E5E7EBCC;
  --tertiary-foreground: #6C727F;
  --border: #1F2937CC;
}

.dark {
  --background: #121826;
  --foreground: #FFFFFF;
  --secondary-background: #1F2937;
  --secondary-foreground: #9CA3AF;
  --tertiary-background: #1F2937CC;
  --tertiary-foreground: #9CA3AF;
  --border: #6C727F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  /* utiliser le font charger */
  font-family: 'Be Vietnam Pro', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.hero {
  background-image: url('/hero-image.png');
  background-size: cover;
  /* background-position: ; */
  /* background-clip: content-box; */
  /* object-fit: cover; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
